/*
  Palette
  White - #FFFFFF
  Black Olive - #3B413C
  Ash Gray - #9DB5B2
  Light Cyan - #DAF0EE
*/


table {
    width: 95%;
    border-collapse: separate;
    overflow: none;
    white-space: nowrap;
}

td {
  text-align: right;
  vertical-align: middle;
  padding: 1rem;
  width: 50%;
  
}

td label {
  display: block;
  margin-bottom: 0.25rem;
}

td input {
  border-radius: 10px;
  border: .5px solid black;
  width: 60%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-left: 1rem;
}

