/*
  Palette
  White - #FFFFFF
  Black Olive - #3B413C
  Ash Gray - #9DB5B2
  Light Cyan - #DAF0EE
*/

.card {
    background-color: #9DB5B2;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    display: flex;
    flex-direction: column;
    
}

