/*
  Palette
  White - #FFFFFF
  Black Olive - #3B413C
  Ash Gray - #9DB5B2
  Light Cyan - #DAF0EE
*/

h2 {
  text-align: center;
}

span {
    font-weight: bolder;
}

span:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.5);
}

input, select {
    font-size: 1.5rem;
    padding-left: .5rem;
    border-radius: 1rem;
  }

  select {
    font-size: 1.75rem;
    font-weight: bold;
  }

  select option {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
  }

  .icon:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.25);
  }

  .title-edit-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }