/*
  Palette
  White - #FFFFFF
  Black Olive - #3B413C
  Ash Gray - #9DB5B2
  Light Cyan - #DAF0EE
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  min-height: 100vh;
  background-color: #DAF0EE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-div {
  display: flex;
  flex-direction: row;
}

.split-div > div:hover {
  background-color: black;
  cursor: pointer;
}

.large-card {
  width: 60vw;
  border-radius: 3rem;
  background-color: #9DB5B2;
  color: #3B413C;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.selected-role {
  background-color: #BCCDCB;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0;
  transition: background-color 0.3s ease;
}

h2{
  color: #3B413C;
}

h3, p {
  color: #3B413C;
}


