/*
  Palette
  White - #FFFFFF
  Black Olive - #3B413C
  Ash Gray - #9DB5B2
  Light Cyan - #DAF0EE
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  min-height: 100vh;
  background-color: #DAF0EE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-div {
  display: flex;
  flex-direction: row;
}

.split-div > div:hover {
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.025);
}

.log-in:hover {
  transition: all 0.3s ease;
  transform: scale(1.025);
}

.large-card {
  width: 60vw;
  border-radius: 3rem;
  background-color: #9DB5B2;
  color: #3B413C;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.large-card:hover {
  transition: all 0.3s ease;
  transform: scale(1.025);
}

.selected-role {
  background-color: #BCCDCB;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0;
  transition: background-color 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  min-width: 100vw;
  height: 60px;
  background-color: #3B413C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97.5vw;
  margin-left: -1rem;
  margin-top: -.75rem;
}

.navbar-container > * {
  cursor: pointer;
}

.button {
  background-color: #3B413C;
  color: white;
  padding: 1.5vw;
  width: auto;
  border-radius: 1rem;
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.button:hover {
  transition: all 0.3s ease;
  transform: scale(1.025);
}

.button p {
  font-size: 200%;
  color: white;
  margin: 0;
}

h2{
  color: #3B413C;
}

h3, p {
  color: #3B413C;
}

.add-div {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem;
    background-color: white;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    width: 7.5rem;
}
